@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

body, html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Noto Serif JP', serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 15% auto;

}

//E0F2E9 CEB5A7 A17C6B 5B7B7A 3C887E
.container {
  a {
    color: #E0F2E9;
  }
}

section {
  background: #A78682;
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}

